<div class="container-fluid bg-footer text-sm">
    <div class="container">
        <img src="/media/img/logo-footer.png" alt=""><br><br>
    
    <div class="row">
        <div class="col-3">
            <p>Contrary to popular belief, Lorem 
                Ipsum is not simply random text. 
                has roots in a piece of classical 
                Latin literature from 45 BC, making 
                it over 2000 years old.</p><br>
            <p>ติิดต่อเรา : 1364 ต่อ 13
                e-mail : chuleekorn.w@dksh.com</p>
        </div>
        <div class="col-6">
            <p>About us : <br>
                A Powerful anti-inflammatory, fast acting, 100% Natural, no pain, 
                no side effects" www.vetzpetz.net</p><br><br>
            <p>Products <br>
                VetzPetz Antinol. “A Powerful, fast acting, 100% Natural, 
                anti-inflamitory with zero side effects</p>
        </div>
        <div class="col-3 ">
            <p><img src="/media/img/social-fb.png" style="height: 30px; width: 30px;"> Vetz Petz Antinol for Dog</p><br>
            <p><img src="/media/img/social-fb.png" style="height: 30px; width: 30px;"> Vetz Petz Antinol for Cat</p><br>
            <p><img src="/media/img/social-yt.png" style="height: 30px; width: 30px;"> Vetz Petz</p><br>
            <p><img src="/media/img/social-tw.png" style="height: 30px; width: 30px;"> @VetzPetz</p><br>

        </div>
    </div>
    </div>
</div>