<nav class="navbar navbar-expand-sm navbar-light header">
    <div class="container d-flex flex-wrap">
        <div class="row">
            <div class="col-2">
                <a class="navbar-brand" href="#">
                    <img src="/media/img/logo_head.png" >
                </a>
            </div>
            <div class="col-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="">
                            <div class="d-flex justify-content-end ">
                                <img class="ico-pet" src="/media/img/dog_ico.png" style="width:50px;height:50px;">
                                <img src="/media/img/cat_ico.png" style="width:50px;height:50px;">
                            </div>
                            <div>
                                <div class="collapse navbar-collapse " id="navbarCollapse">
                                    <ul class="navbar-nav ">
                                      <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="#">หน้าแรก</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link " href="#">เกี่ยวกับเรา</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link ">ประโยชน์ของ VetzPetz</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link ">ประสบการ์จากผู้ใช้</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link ">วิธีการผลิต</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link ">กิจกรรมของเรา</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link ">คำถามที่พบบ่อย</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link ">หาซื้อได้ที่ไหน</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link ">ติดต่อเรา</a>
                                      </li>
                                    </ul>
                                  </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">

                    </div>
                </div>

            </div>
        </div>

    </div>

</nav>