<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="DekGym3a"
    />
    <title>PROJECT JEPPE CLUB</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/slick/slick.css" rel="stylesheet" />
    <link href="/vendor/slick/slick-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Custom styles for this template -->
    <link href="/css/ing.css" rel="stylesheet" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendor/slick/slick.js"></script>
</head>