<%- include('global/v_meta'); -%>


<body>
    <div class="">
            
            <!--<div class="container text-side">
            <img src="/media/img/slide/head1.png">
            <br>
                It is a long established fact that a reader</br> 
                will be distracted by content
            </p>
            <img src="/media/img/slide/click.png">
        </div>-->
            <%- include('global/v_slide'); -%>
            <%- include('global/v_header2'); -%>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <label class="text-danger">
                    About us :
                </label>
                <label>
                    เกี่ยวกับเรา
                </label>
                <br><br>
                    กระบวนการผลิตของเรา เริ่มต้นจากการเลี้ยง บ่มเพาะและเก็บเกี่ยว
หอยแมลงภู่เปลือกสีเขียวภายใต้การดูแลและควบคุมอย่างเข้มงวด
โดยกรมประมงประเทศนิวซีแลนด์ ซึ่งไม่มีแหล่งประมงใดในโลกที่จะมี
มาตรฐานดีเทียบเท่านี้อีกแล้ว <br><br>

หอยแมลงภู่เปลือกสีเขียวอันเป็นวัตถุดิบสำคัญในการผลิตผลิตภัณฑ์
ของ VetzPetz ได้ถูกเลี้ยงในบริเวณทางเหนือของเกาะนิวซีแลนด์ใต้ 
ในเขตที่เรียกว่า Marlborough Sounds อันงดงาม <br><br>

เขต Marlborough Sounds มีสภาพแวดล้อมที่เอื้ออำนวยและเหมาะสม
ต่อการเลี้ยงหอยแมลงภู่ชนิดนี้ เนื่องจากมีแหล่งน้ำอันบริสุทธิ์จาก
มหาสมุทรแปซิฟิกและยังปราศจากสารพิษและสิ่งเจือปนอื่นๆ เนื่องจาก
แหล่งประมงนี้ยังไม่มีผู้คนหรือชุมชนใด ๆ อาศัยอยู่ ไม่มีการประกอบ
การเกษตรหรืออุตสาหกรรมใด ๆ อันเป็นสาเหตุให้เกิดสิ่งเจือปนใด ๆ 
ทั้งสิ้น <br><br>

บริษัทของเรามีความห่วงใยและใส่ใจต่อสิ่งแวดล้อม และเราสัญญา
ว่าเราจะดำเนินนโยบายทางธุรกิจที่เป็นมิตรต่อสิ่งแวดล้อม ลดปริมาณขยะ 
ลดมลพิษและเน้นเรื่องการประหยัดพลังงานตลอดไป
                
            </div>
            <div class="col-5">
                <img src="/media/img/homecatdogabout.jpg">

            </div>

        </div>

    </div>
    <div class="container-fluid bg-gray">
    <div class="container p-5">
        <div class="row">
            <div class="col-7">
                <label class="text-danger">
                    <label class="text-danger">
                        Benefits of Vetz Petz:
                    </label><br>
                    <label class="text-black">
                        ประโยชน์ของ VetzPetz
                    </label>
                    <img src="/media/img/antinol_index.png">
            </div>
            <div class="col-5">
                
                <label><img src="/media/img/liststyle.png">
                    VetzPetz Antinol คืออะไร
                </label><br><br>
                <label><img src="/media/img/liststyle.png"> 
                    ประโยชน์ต่อสุขภาพ
                </label><br><br>
                <label><img src="/media/img/liststyle.png">
                    ทำไมจึงต้องเลือกใช้ VetzPetz
                </label><br><br>
                <label><img src="/media/img/liststyle.png">
                    ต้องใช้เวลานานเท่าไหร่จึงจะเริ่มความเปลี่ยนแปลง
                </label><br><br>
                <label><img src="/media/img/liststyle.png">
                    อะไรเป็นสิ่งที่ทำให้ Vetz Petz มีความพิเศษเหนือกว่าผลิตภัณฑ์อื่นๆ
                </label><br><br>
                <label><img src="/media/img/liststyle.png">
                    สารอาหารจากอาหารสุนัขยังมีคุณค่าไม่เพียงพอต่อสุนัขอีกหรือ
                </label><br><br>
            </div>

        </div>

    </div>
    </div>
    <div class="container p-5">
        <div class="d-flex flex-column text-center">
            <label class="text-danger">
                User experience :
            </label>
            <label>
                ประสบการณ์จากผู้ใช้
            </label>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="d-flex justify-content-center img-plus">
                    <img src="/media/img/plus-ico.png" alt="">
                </div>
                <div>
                <img src="/media/img/exp1.jpg" alt="">
                <label>
                    วัน วัน พุดเดิ้ล อายุ 6 ปี และ คุณลอรี่ 
                </label><br>
                <p>
                    เมื่อเดือนมกราคม ปีที่แล้ว วัน วัน สุนัขพุดเดิ้ลของ
คุณลอรี่ เกิดปัญหาในการเดิน คุณลอรี่สังเกตเห็น วัน วัน 
ไม่คึกคักเหมือนเคย และไม่ชอบเดิน ไม่อยากเดินเล่น 
ลอรี่พาวัน วัน ไปพบสัตวแพทย์ คุณหมอพบว่า 
วัน วัน มีอาการเจ็บข้อกระดูก ซึ่งนั่นก็เหมือนกับ
อาการเส้นพลิก ทำให้เดินแล้วเจ็บ....
                </p>
                <p class="text-danger">
                    More
                </p>
            </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-center img-plus">
                    <img src="/media/img/plus-ico.png" alt="">
                </div>
                <div>
                <img src="/media/img/exp2.jpg" alt="">
                <label>
                    เด็บบี้ และอลาสก้า
อายุ 14 ปี
                </label><br>
                <p>
                    เมื่อเดือนมกราคม ปีที่แล้ว วัน วัน สุนัขพุดเดิ้ลของ
คุณลอรี่ เกิดปัญหาในการเดิน คุณลอรี่สังเกตเห็น วัน วัน 
ไม่คึกคักเหมือนเคย และไม่ชอบเดิน ไม่อยากเดินเล่น 
ลอรี่พาวัน วัน ไปพบสัตวแพทย์ คุณหมอพบว่า 
วัน วัน มีอาการเจ็บข้อกระดูก ซึ่งนั่นก็เหมือนกับ
อาการเส้นพลิก ทำให้เดินแล้วเจ็บ....
                </p>
                <p class="text-danger">
                    More
                </p>
            </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-center img-plus">
                    <img src="/media/img/plus-ico.png" alt="">
                </div>
                <div>
                <img src="/media/img/exp3.jpg" alt="">
                <label>
                    เอลเลน และนีโอ อายุ 9 ปี, 
ทรินิตี้ อายุ 10 
                </label><br>
                <p>
                    เมื่อเดือนมกราคม ปีที่แล้ว วัน วัน สุนัขพุดเดิ้ลของ
คุณลอรี่ เกิดปัญหาในการเดิน คุณลอรี่สังเกตเห็น วัน วัน 
ไม่คึกคักเหมือนเคย และไม่ชอบเดิน ไม่อยากเดินเล่น 
ลอรี่พาวัน วัน ไปพบสัตวแพทย์ คุณหมอพบว่า 
วัน วัน มีอาการเจ็บข้อกระดูก ซึ่งนั่นก็เหมือนกับ
อาการเส้นพลิก ทำให้เดินแล้วเจ็บ....
                </p>
                <p class="text-danger">
                    More
                </p>
            </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <img src="/media/img/more-button.png" alt="">
        </div>
        
    </div>
    <%- include('global/v_footer2'); -%>
</body>

<script>


</script>