<%- include('global/v_meta'); -%>
<%- include('global/v_header'); -%>
<main class="container-fluid section-1 gx-0">
  <div class="row g-0">
    <div class="col-12">
      <div class="slick-holder">
        <div class="banner-item">
          <img src="/media/banner/00000-951943050-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00000-1054801110-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00001-951943051-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00002-951943052-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00002-1054801112-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00003-951943053-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00003-1054801113-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00005-3211383890-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00006-3211383891-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
        <div class="banner-item">
          <img src="/media/banner/00010-2127789453-0000.png">
          <div class="detail">
            <h2>มันมีที่มาอย่างไร?</h2>
            <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
            <button type="button" class="btn btn-banner">Primary</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container descript-list">
    <div class="row">
      <div class="col-md-6 col-lg-3 descript-item">
        <h3>Lorem Ipsum คืออะไร</h3>
        <p>มีหลักฐานที่เป็นข้อเท็จจริงยืนยันมานานแล้ว ว่าเนื้อหาที่อ่านรู้เรื่องนั้นจะไปกวนสมาธิของคนอ่านให้เขวไปจากส่วนที้เป็น Layout เรานำ Lorem Ipsum มาใช้เพราะความที่มันมีการกระจายของตัวอักษรธรรมดาๆ แบบพอประมาณ ซึ่งเอามาใช้แทนการเขียนว่า ‘ตรงนี้เป็นเนื้อหา, ตรงนี้เป็นเนื้อหา' ได้ และยังทำให้มองดูเหมือนกับภาษาอังกฤษที่อ่านได้ปกติ</p>
      </div>
      <div class="col-md-6 col-lg-3 descript-item">
        <img class="under-img" src="/media/under_banner/00027-2102812973.png">
        <p>กำลังคิดจะใช้ Lorem Ipsum สักท่อนหนึ่ง คุณจำเป็นจะต้องตรวจให้แน่ใจว่าไม่มีอะไรน่าอับอายซ่อนอยู่ภายในท่อนนั้นๆ</p>
      </div>
      <div class="col-md-6 col-lg-3 descript-item">
        <img class="under-img" src="/media/under_banner/00037-3811461175.png">
        <p>กำลังคิดจะใช้ Lorem Ipsum สักท่อนหนึ่ง คุณจำเป็นจะต้องตรวจให้แน่ใจว่าไม่มีอะไรน่าอับอายซ่อนอยู่ภายในท่อนนั้นๆ</p>
      </div>
      <div class="col-md-6 col-lg-3 descript-item">
        <img class="under-img" src="/media/under_banner/00040-4074475656.png">
        <p>กำลังคิดจะใช้ Lorem Ipsum สักท่อนหนึ่ง คุณจำเป็นจะต้องตรวจให้แน่ใจว่าไม่มีอะไรน่าอับอายซ่อนอยู่ภายในท่อนนั้นๆ</p>
      </div>
    </div>
  </div>

</main>
<main class="container-fluid section-2 gx-0">
  <div class="container hot-deal">
    <div class="row">
      <div class="col-12">
        <h1>HOT DEAL NOW</h1>
      </div>
      <div class="col-12">
        <div class="slick-hot-deal">
          <div class="hot-deal-item">
            <div class="detail hover-amplify">
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>
              <img src="/media/hotdeal/00048-1263954209.png">
            </div>
          </div>
          <div class="hot-deal-item">
            <div class="detail hover-amplify">
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>
              <img src="/media/hotdeal/00049-1263954210.png">
            </div>

          </div>
          <div class="hot-deal-item">
            <div class="detail hover-amplify">
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>
              <img src="/media/hotdeal/00050-1263954211.png">
            </div>

          </div>
          <div class="hot-deal-item">
            <div class="detail hover-amplify">
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>
              <img src="/media/hotdeal/00051-1263954212.png">
            </div>
          </div>
          <div class="hot-deal-item">
            <div class="detail hover-amplify">
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>
              <img src="/media/hotdeal/00052-2223996043.png">
            </div>
          </div>
          <div class="hot-deal-item">
            <div class="detail hover-amplify">
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>
              <img src="/media/hotdeal/00053-2223996044.png">
            </div>
          </div>
          <div class="hot-deal-item">
            <div class="detail hover-amplify">
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>
              <img src="/media/hotdeal/00054-2223996045.png">
            </div>
          </div>
          <div class="hot-deal-item">
            <div class="detail hover-amplify">
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>
              <img src="/media/hotdeal/00055-2223996046.png">
            </div>
          </div>
        </div><!-- hot deal -->
      </div>
    </div>
  </div>


  <div class="container new-item">
    <div class="row">
      <div class="col-12">
        <h1>NEW ITEM</h1>
      </div>
      <div class="col-12">
        <div class="slick-new-item">
          <div class="new-item-item hover-amplify">
            <img src="/media/new_item/00011-2917246878.png">
            <div class="detail">
              <h3>ทำไมจึงต้องนำมาใช้</h3>
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>              
            </div>
          </div>
          <div class="new-item-item hover-amplify">
            <img src="/media/new_item/00011-2917246878.png">
            <div class="detail">
              <h3>ทำไมจึงต้องนำมาใช้</h3>
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>              
            </div>
          </div>
          <div class="new-item-item hover-amplify">
            <img src="/media/new_item/00011-2917246878.png">
            <div class="detail">
              <h3>ทำไมจึงต้องนำมาใช้</h3>
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>              
            </div>
          </div>
          <div class="new-item-item hover-amplify">
            <img src="/media/new_item/00011-2917246878.png">
            <div class="detail">
              <h3>ทำไมจึงต้องนำมาใช้</h3>
              <h2>มันมีที่มาอย่างไร?</h2>
              <p>ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum</p>
              <a class="btn btn-banner">Primary</a>              
            </div>
          </div>
        </div><!-- new item -->
      </div>
    </div>
  </div><!-- end new item -->
  <div class="container-fluid gx-0 cover-1">
    <div class="row">
      <div class="col-12 detail">
        <img class="full-width" src="/img/00011.png">
        <div class="description">
          <h2>Simple Outside, Quality Inside</h2>
          <a href="#">
            Discover RELX’s Superior Quality
            <svg class="" height="18" viewBox="0 0 18 18" width="18" fill="none">
              <path d="M6 3L12 9L6 15" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container gx-0 faq">
    <div class="col-12">
      <h1>FAQs</h1>
    </div>
    <div class="col-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('global/v_footer'); -%>