<!DOCTYPE html>
<html>
    <head>
        <script src="/js/jquery.min.js"></script>
    </head>

    <body>
        <label>รายชื่อ</label>
        <label>name</label>
        <input type="text" name="name" id="name">
        <label>lastname</label>
        <input type="text" name="lastname" id="lastname">
        <button id="push">summath</button>
        <div id="output"></div>
    </body>

   <script>

        $(document).on("click","#push",function() {
            fun()
        });

        function fun(){
                let name = $("#name").val()
                let lastname = $("#lastname").val()
                $.ajax({
                url: "/blog/listname1",
                method:"POST" ,
                data:{
                    dataname:name,
                    datalastname:lastname,
                }
                })
                .done(function( data ) {
                        $("#output").html("ชื่อ "+data.dataname+" นามสกุล "+data.datalastname)
                        console.log("ชื่อ "+data.dataname+" นามสกุล "+data.datalastname)
                }).fail(function(data) {
                    alert( data );
                });
        }
   </script>

</html>